{% extends 'base.html' %}

{% block title %}
Home | Meet Mangukiya
{% endblock %}

{% block content %}
<div>
  <p>
  Hi, I am Meet Mangukiya( an introvert ), a second year I.T. engineering student at
  K.J. Somaiya College of Engineering. <br><br>

  I like to automate stuff, whether it be tedious or complex.
  Most of the time I am writing stuff in Python, C, C++, Javascript or English.
  I like reading, both long and short text, both poetries and novels. I also
  write, random short poems.

  <br>
  <br>

  I have participated in Google Summer of Code in 2017 as a student, with <a href='https://coala.io'>coala</a>.
  I am participating this year(2018), again, but as a mentor.
  Apart from these, I've also worked on my share of silly <a href='projects.html'>projects</a>.

  <br>
  <br>
  </p>
</div>
{% endblock %}
